#api-box-container {
	display: flex;
	justify-content: space-evenly;
	padding-bottom: 60px;
	align-items: center;
	flex-wrap: wrap;
}

#decidor {
	display: flex;
	max-width: 400px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
	h2 {
		text-align: center;
		flex: 1;
		background: rgb(234, 234, 234);
		font-size: 40px;
	}
}

.api-box {
	background: white;
	padding: 25px;
	margin: 25px;
	border-radius: 5px;
	box-shadow: 0 0 30px rgba(0,0,0,.15);

	.button {
		margin-top: 20px;
	}
	
	h3 {
		font-size: 34px;
		margin-bottom: 10px;
	}
}

#api-or {
	font-weight: bold;
	font-size: 20px;
}