.benefits {
	.item {
		width: 50%;
		float: left;
		text-align: center;
		div {
			height: 230px;
			//background: $white;
			padding: 20px;
			margin-bottom: 30px;
			//margin: 10px;
			//box-shadow: 0 0 12px rgba($black,.1);
		}
	}
	h2, h3, i, p {
		color: $white;
	}
	h2 {
		font-size: 40px;
		text-shadow: -2px 1px 0px $main-color, -4px 2px 0px darken($main-color,5);
	}
	h3 {
		font-size: 30px;
		//color: $main-color;
		//margin-bottom: 20px;

	}
	i {
		//color: $main-color;
		font-size: 60px;
		display: block;
		margin-bottom: 10px;
		//text-shadow: -2px 1px 0px $page-background, -4px 2px 0px $gray-light;
	}
	p {
		font-size: 14px;
		line-height: 1.3em;
	}
}

// Responsive ------------------------------------------------------------------
@media all and (min-width: 420px) {
// Tablet & Up
.benefits {
	.item {
		width: 33.33%;
	}
}
// End Tablet & Up
}

@media all and (min-width: 800px) {
// Desktop & Up

}