.benefits {
	.item {
		width: 50%;
		padding: 20px;
		float: left;
	}
	i {
		font-size: 40px;
		display: block;
		margin-bottom: 20px;
	}
	p {
		font-size: 14px;
	}
}

// Responsive ------------------------------------------------------------------
@media all and (min-width: 420px) {
// Tablet & Up
.benefits {
	.item {
		width: 33.33%;
	}
}
// End Tablet & Up
}

@media all and (min-width: 800px) {
// Desktop & Up

}