$field-height: 50px;
$field-border: 2px;
$field-radius: ($field-height/2 + $field-border);

.beta-signup-bottom {
	background: $light-background;
	text-align: center;
	padding-bottom: 40px;
	h2 {
		display: none;
	}
	h1 {
		font-size: 30px;
		margin-bottom: 20px;
	}
}
.beta-signup {
	label {
		display: none;
	}
	form {
		overflow: hidden;
	}
	input[type="email"], button {
		display: inline-block;
		line-height: $field-height;
		height: $field-height;
		padding: 0 20px;
		border: $field-border solid $main-color;
	}
	input[type="email"], button {
		font-size: 18px;
	}
	input[type="email"] {
		width: 190px;
		border-right: 0;
		border-radius: $field-radius 0 0 $field-radius;
	    position: relative;
	    top: -2px;
	}
	button {
		padding: 0 16px 0 12px;
		background: $main-color;
		border-radius: 0 $field-radius $field-radius 0;
	}
	p {
		font-size: 12px;
		margin: 0 0 4px;
	}
	&.in-page {
		padding: 20px 0;
		text-align: center;
		h2 {
			display: none;
		}

	}
}

// Responsive ------------------------------------------------------------------
@media all and (min-width: 340px) {
.beta-signup {
	input[type="email"] {
		width: 240px;
	}
}
}
// Responsive ------------------------------------------------------------------
@media all and (min-width: 420px) {
// Tablet & Up

.beta-signup {
	input[type="email"] {
		width: 275px;
	}
	&.in-page {
		padding: 30px 0;
	}
}
// End Tablet & Up
}

@media all and (min-width: 800px) {
// Desktop & Up

.beta-signup {
	input[type="email"] {
		width: 450px;
	}
}
}