.hero {
	.logo {
		width: 150px;
		float: right;
	}
	.inner {
		padding-bottom: 0;
	}
	a {
		display: block;
		margin: 30px auto 0;
		//max-width: 800px;
		border-radius: 10px 10px 0 0;
		border-bottom: none;
		&:hover {
			background: rgba($main-color,.6);
			border-color: $main-color;
			&:before {
				border-color: $main-color;
			}
			span {
				&:after, &:before {
					border-color: $main-color;
					background: rgba($main-color,.6);
				}
			}
			img {
				opacity: .2;
			}
		}
	}
}
// Responsive ------------------------------------------------------------------
@media all and (min-width: 420px) {
// Tablet & Up

// End Tablet & Up
}

@media all and (min-width: 800px) {
// Desktop & Up

}