#chrome-logo {
    max-width: 225px;
    padding-right: 0px;
    padding-left: 20px;
}

#aws-logo {
    max-width: 250px;
    padding-right: 20px;
    padding-left: 0px;
    padding-bottom: 20px;
}

#wikipedia-html {
    max-width: 250px;
    padding-right: 5px;
}

#responsive-example {
    max-width: 200px;
    transform: rotateX(55deg) rotateY(0) rotateZ(-25deg) translate(-33px, -29px);
    box-shadow: -12px 18px 5px rgba(0,0,0,.25);
    margin-left: 50px;
}

.hosted-chrome-content {
	padding-right: 20px;
	max-width: 500px;
}

.hosted-chrome-subhead {
	font-size: 34px;
}

.box {
	display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 225px;
    padding-top: 20px;
    padding-bottom: 10px;   
}

.box:nth-child(odd) {
	flex-direction: row-reverse;
}


.cta-box {
	display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 250px;
    padding-top: 70px;
    padding-bottom: 80px;
}

.box-container {
	padding-left: 2%;
	padding-right: 2%;
    margin: auto;
    max-width: 900px;

    p {
        background: white;
        padding: 20px;
    }
}

.cta-icon {
	font-size: 60px;
	color: #01a1dd;
}

.cta-content {
	max-width: 300px;
	padding-left: 10px;
	padding-right: 10px;
}

@media screen and (max-width: 550px){
    .box {
        display: block;
    }

    .size-on-mobile {
    	width: 125px;
    }
}

@media screen and (max-width: 550px){ 
    .cta-box {
		display: block;
    }
}