.chrome-logo {
    max-width: 200px;
    padding: 20px;
}

.hosted-chrome-content {
	padding-top: 25px;
}

.hosted-chrome-subhead {
	font-size: 34px;
}

.box {
	display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 250px;
}

.box-container {
	padding-left: 2%;
	padding-right: 2%;
    margin: auto;
    max-width: 900px;
}