// Packages Table
.pricing-table {
	position: relative;
	.header {
		text-align: center;
		height: 86px;
		padding-top: 10px;
		h3 {
			text-shadow: -1px 1px 0px $page-background, -2px 2px 0px $gray;
			position: relative;
			z-index: 5;
		}
		p {
			font-size: 12px;
			line-height: 14px;
			padding: 0 10px;
		}
	}
	.dropdown-ctr {
		margin: 10px;
	}
	.packages {
		display: none;
		width: 50%;
		position: relative;
		z-index: 2;
	}
	.titles {
		width: 50%;
		.header {
			padding-top: 0;
		}
	}
	.column li {
		padding: 0 4px;
		font-size: 12px;
		line-height: 30px;

		border-top: 1px solid $border-color;
		text-align: center;
	}
	.fa-check {
		color: $brand-green;
	}
	.inactive {
		color: lighten($font-color, 80);
	}
	.column .price {
		padding: 20px 0 10px;
		strong {
			font-size: 40px;
			font-weight: bold;
			display: block;
		}
		.subtext {
			display: block;
			margin-top: 8px;
			margin-bottom: 16px;
			font-size: 10px;
			line-height: 12px;
		}
	}
	.level-titles {
		li {
			text-align: left;
		}
	}
	.mountain-scene-ctr {
		display: none;
		position: absolute;
		top: 20px;
		left: 0; right: 0;
		z-index: 1;
	}
	.pm-icon {
	    padding-top: 5px;
		max-width: 77px;
		display: block;
		margin: 0 auto;
		position: relative;
		z-index: 5;
	}
	&.secondary {
		.price {
			strong {
				color: $brand-green;
			}
		}
	}

}

// Responsive ------------------------------------------------------------------
@media all and (min-width: 760px) {
// Tablet & Up
.pricing-table {
	.header {
		height: 200px;
		padding-top: 105px;
	}
	.dropdown-ctr {
		display: none;
	}
	.packages {
		display: block;
		width: 15%;
	}
	.titles {
		width: 25%;
	}
	.column li {
		padding: 0 10px;
		font-size: 14px;
		line-height: 40px;
	}
	.mountain-scene-ctr {
		display: block;
	}
	.pm-icon {
		padding-top: 37px;
		max-width: 140px;
	}
}

// End Tablet & Up
}

@media all and (min-width: 800px) {
// Desktop & Up

}