// Packages Table
.pricing-table {
	border: 4px solid $border-color;
	background: $page-background;
	border-radius: $border-radius;
	.header {
		height: 120px;
		text-align: center;
		padding-top: 20px;
		.icon {
			line-height: 60px;
			margin: 0 auto;
			position: relative;
			font-size: 40px;
			i {
				position: relative;
				z-index: 2;
				color: $main-color;
			}
		}
	}
	.packages {
		width: 15%;
	}
	.titles {
		width: 25%;
	}
	li {
		border-top: 1px solid $border-color;
		padding: 0 10px;
		line-height: 40px;
		font-size: 14px;
		text-align: center;
	}
	.fa-check {
		color: $brand-green;
	}
	.inactive {
		color: lighten($font-color, 80);
	}
	.price {
		padding: 20px 0 10px;
		strong {
			font-size: 40px;
			display: block;
		}
		.subtext {
			display: block;
			margin-top: 8px;
			font-size: 10px;
			line-height: 12px;
		}
	}
	.level-titles {
		li {
			text-align: left;
		}
	}

}
// Responsive ------------------------------------------------------------------
@media all and (min-width: 420px) {
// Tablet & Up

// End Tablet & Up
}

@media all and (min-width: 800px) {
// Desktop & Up

}