// Pricig Page
.page-pricing {
	.page-header .inner {
		padding-bottom: 90px;
	}
}
.pricing-packages {
	position: relative;
	margin-top: -80px;
	z-index: 2;
	.inner {
		padding-left: 6px;
		padding-right: 6px;
	}
	&:before {
		content: '';
		background: $main-color;
		//height: 400px;
		z-index: -1;
		position: absolute;
		top: 80px; bottom: 0;
		left: 0; right: 0;
	}
	&.secondary {
		&:before {
			background: $brand-green;
		}
	}
}
.pricing-table,
.estimate-pricing {
	background: $page-background;
	border-radius: $border-radius;
	box-shadow: 0 0 20px rgba($black,.2);
}
.toggle-row {
	max-width: 250px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	color: $white;
	a {
		color: $white;
		font-weight: bold;
	}
	.annual-toggle {
		overflow: hidden;
		margin-top: 20px;
		margin-bottom: 20px;
		div {
			float: left;
			margin-right: 10px;
		}
		.title {
			line-height: 30px;
		}
	}
	p {margin-bottom: 0;}
}
.estimate-pricing {
	padding: 20px;
	.estimated-cost {
		.cost {
			display: block;
			background: $main-color;
			color: $white;
			text-align: center;

			padding: 20px 10px;
			&.secondary {
				background: $brand-green;
			}
		}
		span {
			font-size: 30px;
		}
	}
	.estimated-sliders-ctr {
		border-left: 1px solid $border-color;
		padding: 20px;
		//padding-right: 0;
	}
}
// Slider styled in range slider
.price-slider {
	border-bottom: 1px solid $border-color;
	padding-bottom: 10px;
	margin-bottom: 10px;

	.title {
		margin-bottom: 10px;
	}
	.cost-ctr {
		text-align: right;
		float: right;
		margin-top: -40px;
	}
	em {
		font-size: 12px;
	}
}
// Responsive ------------------------------------------------------------------
@media all and (min-width: 760px) {
// Tablet & Up
.pricing-packages {
	.inner {
		padding-left: 20px;
		padding-right: 20px;
	}
}
.toggle-row {
	max-width: 1000px;
	.annual-toggle {
		margin-bottom: 0;
	}
	.custom-price {
		text-align: right;
	}
}
.estimate-pricing {
	padding: 40px;
}
// End Tablet & Up
}

@media all and (min-width: 800px) {
// Desktop & Up

}