// Pricig Page
.pricing-packages {
	position: relative;
	&:before {
		content: '';
		background: $main-color;
		height: 400px;
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0; right: 0;
	}
}
.toggle-row {
	margin-top: 20px;
	.plan-alert {

	}
	.annual-toggle {
		overflow: hidden;
		margin-top: 20px;
		div {
			float: left;
			margin-right: 10px;
		}
		.title {
			line-height: 30px;
		}
	}
}
.estimate-pricing {
	.estimated-cost {
		text-align: center;
		margin: 40px 0;
		span {
			font-size: 40px;
		}
	}
}
// Slider styled in range slider
.price-slider {
	//border: 4px solid $border-color;
	background: $page-background;
	//border-radius: 8px;
	padding: 20px;

	.title {
		margin-bottom: 20px;
	}
	.cost-ctr {
		text-align: right;
		float: right;
		margin-top: -50px;
	}
}
// Responsive ------------------------------------------------------------------
@media all and (min-width: 420px) {
// Tablet & Up

// End Tablet & Up
}

@media all and (min-width: 800px) {
// Desktop & Up

}