$nav-height: 60px;
$footer-height: 50px;

body {
	margin-top: $nav-height;
}

.site-navigation {
	@include transition(all 1s);
	background: $white;
	box-shadow: 0 0 10px rgba($black,.3);

	position: fixed;
	top: 0; left: 0; right: 0;
	z-index: 100;
	a {
		color: $main-color;
		display: block;
	}
	.logo {
		display: inline-block;
		float: left;
		margin: 4px 6px 0;
		img {
			width: 210px;
		}
	}
	.mobile-toggle {
		float: right;
		border: 1px solid $main-color;
		display: inline-block;
		margin: 5px 10px;
		border-radius: 50%;
		width: $nav-height - 10;
		height: $nav-height - 10;
		text-align: center;
		i {
			padding: 0 .5em;
			font-size: 1.3em;
			line-height: $nav-height - 10;
		}
	}
	ul {
		clear: both;
		text-align: center;
		display: none;
		@include transition(all 1s);
		&.nav-open {
			display: block;
		}
	}
	li {
		font-size: 1.1em;
		font-family: $accent-font;
	    text-transform: uppercase;
		line-height: $nav-height;
		border-top: 1px solid $gray-lightest;
	}
}
.footer {
	//color: $white;
	//overflow: hidden;
	position: relative;
	z-index: 2;
	a {
		//color: $white;
	}
	.logo {
		display: block;
		width: 200px;
		margin: -40px auto 0;
	}
	.copy {
		font-size: 24px;
		text-align: center;
		padding-top: 20px;
	}
}
.topo-bg {
	position: relative;
	&:before {
		opacity: .15;
		background-image: url($baseurl+'/img/topo-bg-1.png');
		background-repeat: repeat;
		background-size: 250px 250px;
		background-position: center center;
		position: absolute;
		top: 0; bottom: 0;
		left: 0; right: 0;
		z-index: -1;
		content: '';
	}
	.inner {
		position: relative;
		z-index: 2;
	}
}
.page-header {
	text-align: center;
	p {
		font-size: 17px;
		max-width: 680px;
		margin: 0 auto 30px;
	}
}

.main-content {
	max-width: 800px;
	margin: auto;
	padding-bottom: 50px;
}

.hide {
	opacity: 0;
}
.show {
	opacity: 1;
}

// Responsive
@media all and (min-width: 420px) {
// Tablet & Up
.page-header {
	p {
		font-size: 20px;
	}
}
// End Tablet & Up
}

@media all and (min-width: 800px) {
// Desktop & Up

.site-navigation {
	.mobile-toggle {
		display: none;
	}
	.nav {
		display: inline-block;
		clear: none;

		float: right;
		overflow: hidden;
		line-height: $nav-height;
		margin: 0 20px;
		li {
			display: inline-block;
			margin: 0 .5em;
			border-top: none;
		}

	}
}

// End Desktop & Up
}