.slide {
    .inner {
        max-width: $page-size;
        overflow: hidden;
        margin: 0 auto;
        padding: 30px 20px;
    }
    p {
    	strong {
    		font-weight: 700;
    	}
    }
}
.bright-bg {
	background-color: $main-color;
}
.light-bg {
	background-color: $light-background; 
}

// Responsive ------------------------------------------------------------------
@media all and (min-width: 420px) {
// Tablet & Up
.slide {
    .inner {
        padding: 50px 30px;
    }
}
// End Tablet & Up
}

@media all and (min-width: 800px) {
// Desktop & Up

}