---
layout: default
title: Font Samples
slug: font-samples
path: ../

meta-title: Font Samples
meta-description: Font Samples page.
---
<link href="https://fonts.googleapis.com/css?family=Catamaran|Oxygen:300|Source+Serif+Pro|Sumana|Heebo|Nunito+Sans|Work+Sans:300" rel="stylesheet">
<div class="slide"><div class="inner">
{% include sample-font.html body-font="" %}

<p style="font-size:25px;text-align:center;margin-bottom: 50px;padding-bottom: 50px;border-bottom: 1px solid #ccc;">Other Ideas</p>

{% include sample-font.html body-font="'Catamaran'" %}
{% include sample-font.html body-font="'Oxygen'" %}
{% include sample-font.html body-font="'Work Sans'" %}
{% include sample-font.html body-font="'Source Serif Pro'" %}
{% include sample-font.html body-font="'Sumana'" %}

</div></div>