---
layout: default
title: Home
slug: home
path: ../

meta-title: Home
meta-description: Home page.
---
<div class="slide hero">
	<div class="inner">
		<h2>Page Modified</h2>
		<h1>The fastest crawler in the west.</h1>
		{% include video.html title="Page Modified Demo" videoid="nZlzQurZRdg" layout="home-demo" image="video-thumbnail.png" %}
	</div>
</div>
<div id="signup">
{% include beta-signup-form.html %}
</div>
<div class="slide benefits" id="benefits">
	<div class="inner">
		{% include benefit-item.html title="Web-based" icon="" text="Our crawler is web-based, so your computer won’t get bogged down when you have to run a bunch of crawls or need to crawl a large website." %}
		{% include benefit-item.html title="Scalable" icon="" text="Crawl large site, sections of sites or easily manage lots of sites with Page Modified." %}
		{% include benefit-item.html title="Actionable" icon="" text="Quickly find issues with a site and easily compare historical crawls. No waiting for a full site crawl to finish before analyzing your data." %}
		{% include benefit-item.html title="Flexible" icon="" text="Crawl an entire site, or specific sections. Configure our crawler exactly how you want, no compromises." %}
		{% include benefit-item.html title="Historical" icon="" text="We retain all your historical data so you can easily compare crawl vs crawl and track changes to your site or a competitor site easily." %}
	</div>
</div>
<div class="slide features" id="features">
	<div class="inner">
		<h2>Features</h2>
		<ul>
		<li>Title tags</li>
		<li>Title tag length</li>
		<li>Meta description</li>
		<li>Robots.txt obey or not</li>
		<li>Meta robots </li>
		<li>X-Robots</li>
		<li>5XX http status codes and urls</li>
		<li>3XX http status codes and urls</li>
		<li>2XX http status codes and urls</li>
		<li>Page download time</li>
		<li>Page size</li>
		<li>Page timeouts</li>
		<li>Redirect issues</li>
		<li>Internal links</li>
		<li>External links</li>
		<li>Duplicate content</li>
		<li>URL param count</li>
		<li>H1 tags</li>
		<li>H2 tags</li>
		<li>Images with no alt attributes</li>
		<li>Images that are big</li>
		<li>Images that are broken</li>
		<li>Rel canonical to 4XX</li>
		<li>Rel canonical exists</li>
		<li>Multiple rel canonicals</li>
		<li>OpenGraph tags</li>
		<li>Twitter card tags</li>
		<li>HREFlang</li>
		<li>HREFlang no-return errors</li>
		<li>Relative URLs in HREFlang</li>
		<li>HREFlang reciprocal tags</li>
		<li>Google Analytics code exists</li>
		<li>Tag Manager code exists</li>
		<li>Mixed content issues (http resources on https pages)</li>
		<li>Rel next Rel prev exists</li>
		<li>Sitemap exists - broken or not</li>
		<li>Meta refresh exists</li>
		<li>Thin content checker</li>
		<li>Mobile friendly or not</li>
		<li>Custom user agents</li>
		<li>Configurable crawler counts</li>
		</ul>
	</div>
</div>

{% include beta-signup-form.html %}
