---
layout: default
title: Home
slug: home
path: ../

meta-title: Home
meta-description: Home page.
---
<div class="slide hero topo-bg" id="homehero">
	<div class="inner">
		<img class="logo" src="{{ site.baseurl }}/img/pagemodified-logo.png" alt="Page Modified - Fastest Crawler in the West." />
		<h2>Page Modified</h2>
		<h1>The fastest crawler in the west.</h1>
		{% include beta-signup-form.html layout="in-page" %}
		{% include video.html title="Page Modified Demo" videoid="nZlzQurZRdg" layout="home-demo" image="video-thumbnail.png" %}
	</div>
</div>
<div class="slide benefits bright-bg" id="benefits">
	<div class="inner">
		<div class="item">
			<div>
				<h2>Benefits<br>This is a title.</h3>
			</div>
		</div>
		{% include benefit-item.html title="Web-based" icon="cloud-upload" text="Our crawler is web-based, so your computer won’t get bogged down when you have to run a bunch of crawls or need to crawl a large website." other-icons="cloud cloud-download" %}
		{% include benefit-item.html title="Scalable" icon="rocket" text="Crawl a large website, specific sections of a site or easily manage lots of sites with Page Modified quickly and without additional infrastructure." other-icons="line-chart clone" %}
		{% include benefit-item.html title="Actionable" icon="plug" text="Quickly find issues with a site and easily compare historical crawls. No waiting for a full site crawl to finish before analyzing your data." %}
		{% include benefit-item.html title="Flexible" icon="sliders" text="Crawl an entire site, or specific sections. Configure our crawler exactly how you want, no compromises." other-icons="random server" %}
		{% include benefit-item.html title="Historical" icon="history" text="We retain all your historical data so you can easily compare crawl vs crawl and track changes to your site or a competitors site." %}
	</div>
</div>
<div class="slide features topo-bg" id="features">
	<div class="inner">
		<h2>Features</h2>
		<ul>
		{% include feature-item.html title="Title tags" %}
		{% include feature-item.html title="Title tag length" %}
		{% include feature-item.html title="Meta description" %}
		{% include feature-item.html title="Robots.txt obey or not" %}
		{% include feature-item.html title="Meta robots" %}
		{% include feature-item.html title="X-Robots" %}
		{% include feature-item.html title="5XX http status codes and urls" %}
		{% include feature-item.html title="3XX http status codes and urls" %}
		{% include feature-item.html title="2XX http status codes and urls" %}
		{% include feature-item.html title="Page download time" %}
		{% include feature-item.html title="Page size" %}
		{% include feature-item.html title="Page timeouts" %}
		{% include feature-item.html title="Redirect issues" %}
		{% include feature-item.html title="Internal links" %}
		{% include feature-item.html title="External links" %}
		{% include feature-item.html title="Duplicate content" %}
		{% include feature-item.html title="URL param count" %}
		{% include feature-item.html title="H1 tags" %}
		{% include feature-item.html title="H2 tags" %}
		{% include feature-item.html title="Images with no alt attributes" %}
		{% include feature-item.html title="Images that are big" %}
		{% include feature-item.html title="Images that are broken" %}
		{% include feature-item.html title="Rel canonical to 4XX" %}
		{% include feature-item.html title="Rel canonical exists" %}
		{% include feature-item.html title="Multiple rel canonicals" %}
		{% include feature-item.html title="OpenGraph tags" %}
		{% include feature-item.html title="Twitter card tags" %}
		{% include feature-item.html title="HREFlang" %}
		{% include feature-item.html title="HREFlang no-return errors" %}
		{% include feature-item.html title="Relative URLs in HREFlang" %}
		{% include feature-item.html title="HREFlang reciprocal tags" %}
		{% include feature-item.html title="Google Analytics code exists" %}
		{% include feature-item.html title="Tag Manager code exists" %}
		{% include feature-item.html title="Mixed content issues (http on https)" %}
		{% include feature-item.html title="Rel next Rel prev exists" %}
		{% include feature-item.html title="Sitemap exists - broken or not" %}
		{% include feature-item.html title="Meta refresh exists" %}
		{% include feature-item.html title="Thin content checker" %}
		{% include feature-item.html title="Mobile friendly or not" %}
		{% include feature-item.html title="Custom user agents" %}
		{% include feature-item.html title="Configurable crawler counts" %}
		</ul>
	</div>
</div>
<div class="slide beta-signup-bottom">
	<div class="inner">
		{% include beta-signup-form.html %}
	</div>
</div>