<a name="beta-signup"></a>
<div class="slide beta-signup-bottom">
	<div class="inner">
		<h1>Be the first to get on<em>-</em>page technical insights quickly and track website changes automatically with our web<em>-</em>based site auditor.</h1>
		{% include beta-signup-form.html %}
	</div>
</div>
<div class="footer">
  <div class="inner">
  	<div>
		<img class="logo" src="{{ site.baseurl }}/img/pagemodified-logo.png" alt="Page Modified - Fastest Crawler in the West." />
		<div class="copy">Est. 2016</div>
	</div>
	<div id="lower-footer">
		<div>
			<ul>
				<lh>Nav</lh>
				<li>Sign up</li>
				<li>Benefits</li>
				<li>Features</li>
				<li>API</li>
				<li>API Docs</li>
				<li>Support</li>
				<li>Sign in</li>
				<li>Blog (coming soon)</li>
				<li>Change log (coming soon)</li>
			</ul>
		</div>
		<div>
			<ul>
				<lh>Legal</lh>
				<li>Privacy Policy</li>
				<li>Terms of Service</li>
				<li>Cookie Policy</li>
			</ul>
			<ul>
				<lh>Associated with</lh>
				<li>PagePilot</li>
				<li>AuthorityLabs</li>
			</ul>
		</div>
	</div>
  </div>
</div>
