<a name="beta-signup"></a>
<div class="slide beta-signup-bottom">
	<div class="inner">
		<h1>Be the first to get on<em>-</em>page technical insights quickly and track website changes automatically with our web<em>-</em>based site auditor.</h1>
		<div id="signup">
			<a class="button large" href="https://app.pagemodified.com/registrations/new">Try Page Modified Free</a>
		</div>
	</div>
</div>
<div class="footer">
  <div class="inner">
  	<div>
		<img class="logo" src="{{ site.baseurl }}/img/pagemodified-logo.png" alt="Page Modified - Fastest Crawler in the West." />
		<div class="copy">Est. 2016</div>
	</div>
	<div id="lower-footer">
		<div>
			<ul>
				<lh>Nav</lh>
				<a href="https://app.pagemodified.com/registrations/new"><li>Sign up</li></a>
				<a href="{{ site.baseurl }}/#benefits"><li>Benefits</li></a>
				<a href="{{ site.baseurl }}/#features"><li>Features</li></a>
				<a href="{{ site.baseurl }}/pricing/"><li>Pricing</li></a>
				<a href="{{ site.baseurl }}/api/"><li>API</li></a>
				<a href="http://support.pagemodified.com/notes?search=category:%22api%22"><li>API Docs</li></a>
				<a href="http://support.pagemodified.com"><li>Support</li></a>
				<a href="https://app.pagemodified.com/domain"><li>Sign in</li></a>
				<li>Blog (coming soon)</li>
				<li>Change log (coming soon)</li>
			</ul>
		</div>
		<div>
			<ul>
				<lh>Integrations</lh>
				<a href="https://datastudio.google.com/datasources/create?connectorId=AKfycbwyPfgIIsbCS1T06CSAehKCY3NoZN5M1P0KjEnpE09uR59gqF8C1wd2"><li>Google Data Studio</li></a>
				<a href="https://wordpress.org/plugins/page-modified/"><li>WordPress</li></a>
			</ul>
			<ul>
				<lh>Legal</lh>
				<a href="{{ site.baseurl }}/privacy/"><li>Privacy Policy</li></a>
				<a href="{{ site.baseurl }}/terms/"><li>Terms of Service</li></a>
				<a href="{{ site.baseurl }}/cookies/"><li>Cookie Policy</li></a>
			</ul>
			<ul>
				<lh>Associated with</lh>
				<a href="http://pagepilot.io"><li>PagePilot</li></a>
				<a href="https://authoritylabs.com"><li>AuthorityLabs</li></a>
			</ul>
		</div>
	</div>
  </div>
</div>
