<div class="site-navigation">
  <div class="inner">
    <a class="logo" href="#" rel="scrollTo" data-scrollTo="homePage"><img class="logo" src="{{ site.baseurl }}/img/pagemodified.png" alt="Page Modified - Fastest Crawler in the West." /></a>
    <a class="mobile-toggle" href="{{ site.baseurl }}/"><i class="fa fa-bars"></i></a>
    <ul class="nav">
        <li><a href="{{ site.baseurl }}/#signup" rel="scrollTo" data-scrollTo="signup">Sign up</a></li>
        <li><a href="{{ site.baseurl }}/#benefits" rel="scrollTo" data-scrollTo="benefits">Benefits</a></li>
        <li><a href="{{ site.baseurl }}/#features" rel="scrollTo" data-scrollTo="features">Features</a></li>
        <li><a href="{{ site.baseurl }}/pricing">Beta Pricing</a></li>
        <li><a href="https://app.pagemodified.com/sessions/new">Sign in</a></li>
    </ul>
  </div>
</div>