<div class="pricing-table secondary row">
	{% include mountain-scene.html %}
	<div id="pricingToggle" class="dropdown-ctr">
		<span>Choose Level</span>
		<ul class="dropdown">
			<li><a href="#">Free</a></li><!-- add class="initial" to make this select on load -->
			<li><a href="#">Personal</a></li>
			<li><a href="#">Pro</a></li>
			<li><a href="#">Business</a></li>
			<li><a href="#">Enterprise</a></li>
		</ul>
	</div>
	{% include pricing-table-column.html plan-level="0" slug="titles" %}
	{% include pricing-table-column.html plan-level="1" title="Free" slug="free" desc="Monitor your side projects quickly." %}
	{% include pricing-table-column.html plan-level="2" title="Personal" slug="personal" desc="You have a website and want to keep tabs on it easily." %}
	{% include pricing-table-column.html plan-level="3" title="Pro" slug="pro" desc="Stay on top of your client's websites." %}
	{% include pricing-table-column.html plan-level="4" title="Business" slug="business" desc="You make money online & your site is vital to your business!" %}
	{% include pricing-table-column.html plan-level="5" title="Enterprise" slug="enterprise" desc="You  crawl 1000s or millions of pages for multiple domains." %}
</div>