{% if include.slug == 'free' %}
	{% assign price-level = '1' %}
	{% assign icon-name = 'hand-peace-o' %}
	{% assign pages = '100' %}
	{% assign crawlers = '1' %}
	{% assign archives = '1 month' %}
	{% assign robots = 'n' %}
	{% assign backups = 'n' %}
	{% assign recrawl = 'n' %}
	{% assign api = 'n' %}
{% elsif include.slug == 'personal' %}
	{% assign price-level = '2' %}
	{% assign icon-name = 'home' %}
	{% assign pages = '1,000' %}
	{% assign crawlers = '5' %}
	{% assign archives = '3 months' %}
	{% assign robots = 'y' %}
	{% assign backups = 'n' %}
	{% assign recrawl = 'y' %}
	{% assign api = 'n' %}
{% elsif include.slug == 'pro' %}
	{% assign price-level = '3' %}
	{% assign icon-name = 'id-badge' %}
	{% assign pages = '5,000' %}
	{% assign crawlers = '10' %}
	{% assign archives = '6 months' %}
	{% assign robots = 'y' %}
	{% assign backups = 'n' %}
	{% assign recrawl = 'y' %}
	{% assign api = 'y' %}
{% elsif include.slug == 'business' %}
	{% assign price-level = '4' %}
	{% assign icon-name = 'building' %}
	{% assign pages = '25,000' %}
	{% assign crawlers = '20' %}
	{% assign archives = '12 months' %}
	{% assign robots = 'y' %}
	{% assign backups = 'n' %}
	{% assign recrawl = 'y' %}
	{% assign api = 'y' %}
{% elsif include.slug == 'enterprise' %}
	{% assign price-level = '5' %}
	{% assign icon-name = 'cube' %}
	{% assign pages = '100,000' %}
	{% assign crawlers = '50' %}
	{% assign archives = '24 months' %}
	{% assign robots = 'y' %}
	{% assign backups = 'y' %}
	{% assign recrawl = 'y' %}
	{% assign api = 'y' %}
{% endif %}

{% if price-level %}
<div class="column packages level-{{ price-level }}">
	<div class="header">
		<h3>{{ include.title }}</h3>
		<p>{{ include.desc }}</p>
	</div>
	<ul>
		<li>Up to {{ pages }}</li>
		<li>{{ crawlers }}</li>
		<li><i class="fa fa-check"></i></li>
		<li><i class="fa fa-check"></i></li>
		<li><i class="fa fa-check"></i></li>
		<li>{{ archives }}</li>
		{% if robots == 'y' %}<li><i class="fa fa-check"></i></li>{% else %}<li class="inactive"><i class="fa fa-close"></i></li>{% endif %}
		{% if backups == 'y' %}<li><i class="fa fa-check"></i></li>{% else %}<li class="inactive"><i class="fa fa-close"></i></li>{% endif %}
		{% if recrawl == 'y' %}<li><i class="fa fa-check"></i></li>{% else %}<li class="inactive"><i class="fa fa-close"></i></li>{% endif %}
		{% if api == 'y' %}<li><i class="fa fa-check"></i></li>{% else %}<li class="inactive"><i class="fa fa-close"></i></li>{% endif %}
		<li><i class="fa fa-check"></i></li>
		<li class="price" id="priceLevel{{ price-level }}"><strong>&nbsp;</strong><span class="subtext">per domain <span rel="price-qualifier">&nbsp;</span></span><!--a href="#" class="button square small">Let's Go</a--></li>
	</ul>
</div>
{% else %}
<div class="column titles">
	<div class="header">
		<img class="pm-icon" src="{{ site.baseurl }}/img/pagemodified-icon-outline-500.png" alt="PageModified" />
	</div>
	<ul>
		<li>Pages per Domain</li>
		<li>Concurrent Crawlers</li>
		<li>Weekly full website crawls</li>
		<li>Uptime monitoring & down alerts</li>
		<li>Compare crawls with diffs</li>
		<li>Crawl archives</li>
		<li>Robots.txt monitoring & diff alerts</li>
		<li>Full HTML website backups</li>
		<li>Unlimited manual re-crawls</li>
		<li>API Access</li>
		<li>Integrations</li>
		<li class="price infotext"><p>Interested in a custom plan and pricing? <a href="#">Contact us</a>, we scale nicely :)</p><!--strong>&nbsp;</strong><span>&nbsp;</span--></li>
	</ul>
</div>
{% endif %}